@import 'styles';

html {
  box-sizing: border-box;
  font-size: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  color: var(--color-white);

  background-color: #0b0b0b;
  background-image: url('/background.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  min-width: 320px;
  max-width: 2561px;
  margin: 0 auto;
  padding: 0 11.3vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  //@media screen and (max-width: #{$width-m}) {
  //  padding: 0 2%;
  //}

  @media screen and (max-width: #{$width-xs}) {
    padding: 0 6vw;
  }
}
