:root {
  --color-white: #fff;
  --color-light: #e1e1e1;
  --color-dark: #0b0b0b;
  --color-gray: #545454;
  --color-light-gray: #B6B6B6;
  --color-dark-gray: #B6B6B6;
  --color-background: #1a2121;
  --color-accent-lime: #bdf658;
  --color-alert: #db3939;
}
