:root {
  // line heights
  --line-height-small: 1;
  --line-height-normal: 1.445;

  // font sizes
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 1.75rem;

  // font weights
  --font-weight-regular: 500;
  --font-weight-bold: 600;
}
