.wrapper {
  position: relative;
}

.switch svg {
  width: 40px;
  margin: 2.25rem auto auto;
}

.destination {
  max-width: 100%;
  height: 4rem;
  padding: 1rem;

  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;

  background-color: #0b0b0b;
  backdrop-filter: blur(10px);
  border: 1px solid #545454;
  border-radius: 1rem;
}

.exchange input,
.exchange div {
  font-weight: 500;
  color: #fff;

  background-color: #0b0b0b;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.exchange {
  width: 100%;
  height: 4rem;

  font-weight: 500;
  color: #545454;

  background-color: #0b0b0b;
  backdrop-filter: blur(10px);
  border: 1px solid #545454;
  border-radius: 1rem;
}

.exchange input {
  padding: 1rem;
  font-size: 1.5rem;
}

.exchange span {
  margin: auto;
  font-size: 1.25rem;
}

.select {
  position: absolute;
  z-index: 99;
  top: 4rem;

  display: none;

  width: 100%;
  padding: 2rem 1rem 0;

  background-color: #0b0b0b;
  border: 1px solid #bdf658;
  border-top: unset;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.select > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 1rem 0;

  font-size: 1.25rem;

  border-top: 2px solid #545454;
}

.exchange:has(input:focus) {
  border: 1px solid #bdf658;
}

.error {
  float: right;
}

@media screen and (width <= 576px) {
  .switch {
    margin: auto;
    text-align: center;
  }

  .switch svg {
    margin: auto;
  }
}
