.picker {
  gap: 0.5rem;
  justify-content: space-between;

  box-sizing: border-box;
  width: 320px;
  min-height: 64px;

  background-color: var(--color-dark);
  border: 1px solid var(--color-gray);
  border-radius: 16px;

  &:hover {
    border: 1px solid var(--color-white);
  }

  &:focus-visible {
    border: 1px solid var(--color-accent-lime);
    outline: transparent;
  }
}

