@import '~/styles';

.ExchangeFormRoot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: start;

  //border: 1px solid red;
}

.ExchangeFormInputsWrapper {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  @media screen and (max-width: #{$width-xs}) {
    flex-direction: column;
  }
}

.ExchangeFormAmountInput {
  //box-sizing: border-box;
  //
  ////  display: flex;
  ////  align-items: center;
  ////  justify-content: center;
  ////
  //width: 100%;
  //
  ////max-height: 76px;
  //height: 64px;
  //padding: 0;
  //
  ////
  ////&::placeholder {
  ////  display: inline-block;
  ////  font-size: var(--font-size-s);
  ////  line-height: 64px;
  ////  vertical-align: top;
  ////
  ////
  ////  //background-color: yellow;
  ////}
  ////
  ////@supports (font-synthesis: inherit) { // not supported by Chrome but supported by Safari
  ////  &::placeholder {
  ////    line-height: -10em;
  ////    color: pink;
  ////  }
  ////
  ////padding-bottom: 0.2em;
  //
  ////height: 64px;
  //
  ////
  ////  //margin: auto 0;
  ////
  //font-size: var(--font-size-l);
  //font-weight: var(--font-weight-regular);
  //font-style: var(--font-style-normal);
  //
  ////line-height: var(--line-height-normal);
  //line-height: normal;
  //vertical-align: middle;
  //
  //appearance: none;
  //
  ////
  //background-color: transparent;
  //border: none;
  //border-radius: 16px 0 0 16px;
  //outline: none;
  //caret-color: var(--color-white);
  width: 100%;
  height: 64px;
  padding: 0;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  line-height: 64px;
  color: white;

  background: transparent;
  border: none;
  border-radius: 16px 0 0 16px;
  outline: none;
  caret-color: var(--color-white);

  transition: 0.1s ease-out;

  &::placeholder {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-regular);
    color: var(--color-gray);
    letter-spacing: 0.16px;
    vertical-align: middle;
  }
}




//input[type="text"]::placeholder { /* Chrome/Opera/Safari */
//  text-align: center;
//}

//::placeholder { /* Mozilla Firefox 19+ */
//  line-height: 64px;
//}
//
//::input-placeholder { /* Webkit */
//  line-height: 64px;
//}
//
//:input-placeholder { /* IE */
//  line-height: 64px;
//}

//input[type='text']{
//  min-height: 100%;
//
//  line-height: 64px;
//  color:#fff;
//
//  background-color: rgb(255 255 255 / 40%);
//  border:3px solid rgb(0 0 0 / 50%);
//  border-radius: 6px;
//}
//
//input[type='text']::placeholder {
//  font-size: var(--font-size-s);
//  color: rgb(255 255 255 / 40%);
//
//  //text-transform: uppercase;
//  vertical-align: middle;
//  background-color: yellow;
//}

.ExchangeFormReverseButton.ExchangeFormReverseButton {
  align-self: end;

  width: 32px;
  height: 32px;
  margin: 0 auto 2rem;

  -webkit-text-fill-color: white;

  @media screen and (max-width: #{$width-xs}) {
    margin: 0 auto;
  }
}

.svg {
  width: 100%;
  height: 100%;
}

.ExchangeFormAmountSelect {
  position: relative;
  width: 100%;
  padding-left: 0.875rem;
}

.ExchangeFormAmountLabelInputSelect {
  color: var(--color-light);
}

.ExchangeFormError {
  align-self: end;

  box-sizing: border-box;
  min-height: 1.75rem;
  margin: 0 0 0 auto;

  text-align: right;
}

.ExchangeFormDestinationWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.ExchangeFormDestinationInput {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 64px;
  padding: 1rem;

  background: var(--color-dark);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-gray);

  //gap: 295px;

  border-radius: 16px;
}

.ExchangeSubmitButton {
  width: 100%;
  margin-top: auto;
}

.ExchangeFormInfoLabel {
  width: fit-content;

  //margin-top: 2rem;
  //padding-bottom: 0.25rem;
  color: var(--color-light);
}

.inputOverlay {
  position: absolute;
  top: 50%;
  left: 0.875rem;
  transform: translateY(-50%);

  direction: rtl;
  overflow: hidden;

  //display: flex;
  //align-items: start;
  //justify-content: start;

  //background: var(--color-dark);

  //border: 1px solid violet;
}

.blueText {
  direction: rtl;
  overflow: hidden;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  line-height: var(--line-height-normal);
  color: var(--color-gray);
  text-overflow: ellipsis;
}

.whiteText {
  direction: rtl;

  font-size: var(--font-size-l);
  font-weight: var(--font-weight-regular);
  font-style: var(--font-style-normal);
  line-height: var(--line-height-normal);
  color: white;
}

.ExchangeFormInfoInput {
  align-self: end;

  box-sizing: border-box;

  //box-sizing: content-box;
  width: 100%;

  //min-width: calc(50% - 40px);
  //max-width: 284px;
  min-height: 64px;
  padding: 0 0.875rem;

  background-color: var(--color-dark);
  border: 1px solid var(--color-gray);
  border-radius: 16px;

  &:focus {
    outline: none;
  }
}

.ExchangeFormInfoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  //margin-bottom: 1rem;

  //border: 1px solid red;

  @media screen and (max-width: #{$width-xs}) {
    flex-direction: column;
  }
}

.ExchangeFormInfoContainer {
  display: flex;
  flex-direction: column;

  min-width: calc(50% - 40px);
  max-width: 284px;
  min-height: 64px;
  margin-bottom: 1rem;


  border-radius: 16px;

  @media screen and (max-width: #{$width-m}) {
    //max-width: 220px;
  }

  @media screen and (max-width: #{$width-xs}) {
    min-width: 100%;
  }
}

.ExchangeFormInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-bottom: 0.25rem;
}

