@import '../../../../../styles/styles';

.ConnectRoot {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 0.5rem;
}

.ConnectWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  //align-items: end;
  //justify-content: space-between;
  //margin: 0.375rem 0 2.375rem;

  @media screen and (max-width: #{$width-xs}) {
    margin-bottom: 1rem;
  }
}

.ConnectMainAccentText {
  color: var(--color-accent-lime);
}

.ConnectButton.ConnectButton {
  display: flex;

  margin: 0 0 0 auto;
  padding: 0;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-small);
  letter-spacing: 0.16px;
  color: var(--color-light-gray);
  text-decoration: underline;

  border-radius: 0;

  @media screen and (max-width: #{$width-xs}) {
    font-size: var(--font-size-s);
  }
}

.ConnectTitle {
  width: 100%;
  line-height: var(--line-height-small);
}

.ConnectDisplays {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  width: 100%;

  @media screen and (max-width: #{$width-xs}) {
    display: flex;
    flex-direction: row;
  }
}
