@import '~/styles/styles';

.LogoRoot {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: start;

  @media screen and (max-width: #{$width-xs}) {
    gap: 0.25rem;
  }
}

.LogoIcon {
  width: 92px;
  height: 92px;

  //@media screen and (max-width: #{$width-xs}) {
  //  width: 24px;
  //  height: 24px;
  //}
}
