@import '~/styles';

@mixin wrapper {
  display: flex;

  //flex-direction: column;

  height: 100%;
  padding: 1.5rem;

  background: rgb(26 33 33 / 50%);
  border-radius: 2rem;

  @media screen and (max-width: #{$width-xs}) {
    margin-bottom: 0.75rem;
  }
}

//.MainRoute {
//  max-width: 54vw;
//  border: 1px solid red;
//
//  @media screen and (max-width: #{$width-xs}) {
//    max-width: 100%;
//  }
//}

.MainWrapper {
  flex: 1;
  max-width: 58vw;
  margin: 0 auto 1.5rem;
  //border: 1px solid red;

  @media screen and (max-width: #{$width-m}) {
    max-width: 100%;
  }

  //@media screen and (max-width: #{$width-xs}) {
  //  max-width: 100%;
  //}
}

.MainText {
  max-width: 60%;
  margin-bottom: 1.5rem;

  @media screen and (max-width: #{$width-xs}) {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}

.MainAccentText {
  color: var(--color-accent-lime);
}

.MainWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

//.MainWrapper {
//  display: grid;
//  grid-template-areas:
//      'A C'
//      'D D';
//  grid-template-columns: 3fr 7fr;
//  grid-template-rows: auto auto;
//  gap: 1rem;
//
//  @media screen and (max-width: #{$width-m}) {
//    grid-template:
//        "A C" auto "D D" auto / 2fr 7fr;
//  }
//
//  @media screen and (max-width: #{$width-xs}) {
//    display: flex;
//    flex-direction: column;
//  }
//}

.MainConnect {
  @include wrapper;

  grid-area: A;
}

//.MainInfo {
//  @include wrapper;
//
//  grid-area: B;
//}

.MainRoute {
  @include wrapper;

  grid-area: C;
  min-height: 600px;

  @media screen and (max-width: #{$width-xs}) {
    min-height: 800px;
  }
}

.MainNostr {
  @include wrapper;

  grid-area: D;
  flex-wrap: wrap;

  @media screen and (max-width: #{$width-xs}) {
    display: none;
  }
}

.MainPartners {
  @include wrapper;

  grid-area: D;
  flex-wrap: wrap;

  @media screen and (max-width: #{$width-xs}) {
    display: none;
  }
}

