//.InfoUsd {
//  gap: 10px;
//
//  box-sizing: content-box;
//  padding: 2px 5px;
//
//  border-radius: 10px;
//}

.InfoUsd {
  //position: absolute;
  //bottom: -13.5px;
  //left: 1rem;

  gap: 10px;

  min-width: 14%;

  color: var(--color-light-gray);

  border-radius: 10px;
}