.Scanner {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

video {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  width: 100% !important;
  height: 100% !important;

  border: 10px solid red;
}

.Button {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #db3939;
}

.Text {
  max-width: 200px;
  word-wrap: wrap;
}