.loader {
  position: relative;
  transform: translateZ(0);

  width: 1em;
  height: 1em;

  font-size: 15px;
  text-indent: -9999em;

  border-radius: 50%;

  animation: mulShdSpin 1.1s infinite ease;
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow:
      0 -2.6em 0 0 #bdf658,
      1.8em -1.8em 0 0 rgb(255 255 255 / 20%),
      2.5em 0 0 0 rgb(255 255 255 / 20%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 20%),
      0 2.5em 0 0 rgb(255 255 255 / 20%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 20%),
      -2.6em 0 0 0 rgb(255 255 255 / 50%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 70%);
  }

  12.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 70%),
      1.8em -1.8em 0 0 #bdf658,
      2.5em 0 0 0 rgb(255 255 255 / 20%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 20%),
      0 2.5em 0 0 rgb(255 255 255 / 20%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 20%),
      -2.6em 0 0 0 rgb(255 255 255 / 20%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 50%);
  }

  25% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 50%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 70%),
      2.5em 0 0 0 #bdf658,
      1.75em 1.75em 0 0 rgb(255 255 255 / 20%),
      0 2.5em 0 0 rgb(255 255 255 / 20%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 20%),
      -2.6em 0 0 0 rgb(255 255 255 / 20%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 20%);
  }

  37.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 20%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 50%),
      2.5em 0 0 0 rgb(255 255 255 / 70%),
      1.75em 1.75em 0 0 #bdf658,
      0 2.5em 0 0 rgb(255 255 255 / 20%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 20%),
      -2.6em 0 0 0 rgb(255 255 255 / 20%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 20%);
  }

  50% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 20%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 20%),
      2.5em 0 0 0 rgb(255 255 255 / 50%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 70%),
      0 2.5em 0 0 #bdf658,
      -1.8em 1.8em 0 0 rgb(255 255 255 / 20%),
      -2.6em 0 0 0 rgb(255 255 255 / 20%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 20%);
  }

  62.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 20%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 20%),
      2.5em 0 0 0 rgb(255 255 255 / 20%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 50%),
      0 2.5em 0 0 rgb(255 255 255 / 70%),
      -1.8em 1.8em 0 0 #bdf658,
      -2.6em 0 0 0 rgb(255 255 255 / 20%),
      -1.8em -1.8em 0 0 rgb(255 255 255 / 20%);
  }

  75% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 20%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 20%),
      2.5em 0 0 0 rgb(255 255 255 / 20%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 20%),
      0 2.5em 0 0 rgb(255 255 255 / 50%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 70%),
      -2.6em 0 0 0 #bdf658,
      -1.8em -1.8em 0 0 rgb(255 255 255 / 20%);
  }

  87.5% {
    box-shadow:
      0 -2.6em 0 0 rgb(255 255 255 / 20%),
      1.8em -1.8em 0 0 rgb(255 255 255 / 20%),
      2.5em 0 0 0 rgb(255 255 255 / 20%),
      1.75em 1.75em 0 0 rgb(255 255 255 / 20%),
      0 2.5em 0 0 rgb(255 255 255 / 20%),
      -1.8em 1.8em 0 0 rgb(255 255 255 / 50%),
      -2.6em 0 0 0 rgb(255 255 255 / 70%),
      -1.8em -1.8em 0 0 #bdf658;
  }
}
