@import '~/styles';

.HeaderRoot {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  justify-content: space-between;

  padding: 1rem 0;

  @media screen and (max-width: #{$width-xs}) {
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    padding: 0.6875rem 0;
  }
}

.HeaderContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.HeaderLogo {
  width: 82px;
  height: 82px;

  @media screen and (max-width: #{$width-xs}) {
    width: 50px;
    height: 50px;
  }
}

.HeaderLinkLogo {
  width: 32px;
  height: 32px;
  margin-left: auto;

  @media screen and (max-width: #{$width-xs}) {
    width: 24px;
    height: 24px;
  }
}

.HeaderText {
  @media screen and (max-width: #{$width-xs}) {
    max-width: 75%;
  }
}

.HeaderLinkInfo {
  color: var(--color-light);

  @media screen and (max-width: #{$width-xs}) {
    display: none;
  }
}
